version: '3'

services:
  web:
    image: nginx:alpine
    ports:
      - 80:80
    volumes:
      - ./public_html:/public_html
      - ./conf.d:/etc/nginx/conf.d
    networks:
      - nginxphp
  php:
    image: php:7.4-fpm-alpine
    volumes:
      - ./public_html:/public_html
    expose:
      - 9000
    networks:
      - nginxphp
  mongodb:
    image : mongo
    container_name: mongodb
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - ./mongodb/database:/data/db
    ports:
      - 27017:27017
    restart: unless-stopped
networks:
  nginxphp: